<!DOCTYPE html>
<html>
    <head>
        <title> Author Editing </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    
    <style>
        #addForm {
            text-align:center;
        }
        
    </style>
    <body>
        
        <h1 class="text-center"> Editing Author </h1> <br>

        <form method="POST">
        
            First name: <input type="text" name="firstName"
                        value="<%= authorInfo.firstName %>"><br>    
            Last  name: <input type="text" name="lastName"
                        value="<%= authorInfo.lastName %>"><br>    
            Gender: <select name="gender">
                <option value="">Select One</option>
                <option value="F">Female</option>
                <option value="M">Male</option>
                <option value="O">Other</option>
            </select>
                    
            <input type="hidden" name="authorId" value="<%= authorInfo.authorId %>"> 
            
            <!--TODO: Add the remaining fields -->
            <br><br>
            <button>Update Author</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        
        &nbsp;
            <button type="button" class="btn btn-danger" id="cancelButton"> Cancel</button>

        <script>
            /* global $ */
            $("#cancelButton").on("click",function(e){
                window.location.href = "/admin";
            });
            
            
            
            $(function() {
                
            });
            
            
        </script>

    </body>
</html>